{% extends "base.html" %}{% block title %}Home{% endblock %}

{% block content %}
<div class="mt-5">
    <div class="card mx-auto" style="width: 44rem;">
        <div class="card-header">
            Minhas Notas
        </div>
        <div class="card-body">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if user.notes %}
                        {% for note in user.notes %}
                        <form action="/delete-note" method="post" id="delete{{note.id}}">
                            <input type="hidden" name="id" value="{{note.id}}">
                        </form>
                            <footer class="blockquote-footer">
                                {{note.description}}  
                                -  
                                <button class="btn" type="submit" form="delete{{note.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" width="32px" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </footer>
                        {% endfor %}
                    {% else %}
                        Não tem notas guardadas!
                    {% endif %}
                    
                  
                </blockquote>
              </div>
            <form action="" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escreva aqui a sua nota" aria-label="Escreva aqui a sua nota" aria-describedby="nota" name="nota">
                    <button class="btn btn-outline-primary" type="submit" id="nota">Guardar</button>
                  </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}