{% extends "base.html" %}{% block title %}Home{% endblock %}

{% block content %}
<div class="mt-5">
    <div class="card mx-auto" style="width: 44rem;">
        <div class="card-header">
            Minhas Notas
        </div>
        <div class="card-body">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% if notesData %}
                        {% for note in notesData %}
                            <footer class="blockquote-footer">{{note.description}}</footer>
                        {% endfor %}
                    {% else %}
                        Não tem notas guardadas!
                    {% endif %}
                    
                  
                </blockquote>
              </div>
            <form action="" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escreva aqui a sua nota" aria-label="Escreva aqui a sua nota" aria-describedby="nota" name="nota">
                    <button class="btn btn-outline-primary" type="submit" id="nota">Guardar</button>
                  </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}